/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN NORMALIZE.CSS)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.5;
  color: #282828;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.5em 0;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.8rem;
}

p {
  margin: 0 0 1.5em;
}

/* Links */
a, a:visited {
  color: #f6f7f9;
}

a:hover, a:focus {
  color: #234723;
}

a:active {
  color: #ffffff;
  background-color: #234723;
}

/* Elements */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 2.5em;
}

section {
  padding-top: 5rem; 
  margin-top: -5rem;
}

/* Layout */
.site-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.site-main {
  max-width: 100%;
  margin: 0 auto;
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b3a55;
  color: #fff;
  font-size: 1.5rem;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  z-index: 999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav {
  transform: translateX(0);
  left: 30px;
}

header a {
  text-decoration: none;
  color: #fff;
}

header .logo-name {
  border: #fff 5px solid;
  padding: 7px 12px;
  border-radius: 50%;
  font-weight: 600;
  letter-spacing: 3px;
  margin-left: 2rem;
}

header .logo-name:hover {
  border: #379777 5px solid;
  color: #379777;
}

header ul {
  display: none;
  position: absolute;
  top: 39px;
  left: -111px;
  width: 188px;
  background-color: #3a9778;
  flex-direction: column;
  padding:1rem 2rem ;
  gap: 1.2rem;padding-left: 1rem;
  list-style: none;
}

header ul li a{
 color: #fff;
}

header ul.nav-links.active {
  display: flex;
}

.hamburger {
  display: block;
  font-size: 2rem;
  cursor: pointer;
  margin-right: 3rem;
}

/* Hero Section */
#hero {
  height: 80vh;
  margin-bottom: 3rem;
}

.hero-content {
  margin-top: 7rem;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(43, 58, 85, 0.8);
}

.hero-content h1 {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: rgba(43, 58, 85, 0.9);
  text-align: center;
}

.hero-content h1 span {
  color: #379777;
}

.button-wrap {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.big-btn {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 2px;
  height: 50px;
  width: 250px;
  background-color: #2b3a55;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 15px 10px #2b3a5541;
  text-align: center;
  padding: 0.7rem 1rem 1.5rem;
  transition: 0.2s ease-in-out;
  text-decoration: none;
  display: block;
  margin: 0 auto;
}
.big-btn.cta-1{
  color: #f7f3f3;
  border: 2px solid #2b3a55;
}

.big-btn.cta-2{
  background-color: transparent;
  color: #2b3a55;
  border: 2px solid #2b3a55;
}

.big-btn i {
  font-size: 19px;
  margin-left: 5px;
}

.cta-1:hover {
  background-color: #379777;
  color: #f7f3f3;
  border: 2px solid #379777;
}
.cta-2:hover {
  background-color: #379777;
  color: #f7f3f3;
  border-color: #379777;
}
/* About Section */

.about{
  padding: 1rem;
}
.about-wrapper {
  padding: 2rem;
  text-align: center;
  border: #234723 solid 2px;
  border-radius: 10px;
  box-shadow: 0 15px 10px #2b3a5541; 
  margin: 3rem 0;
}



.about h2 {
  font-weight: 500;
  color: rgba(0, 4, 10, 0.8);
}

.about p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.7;
  color: rgba(43, 58, 85, 0.7);
  margin-bottom: 2rem;
}

/* Projects */
.projects {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

.projects h2 {
  text-align: center;
  font-weight: 500;
  color: rgba(0, 4, 10, 0.8);
  margin-bottom: 2rem;
}

.articles article{
  max-width: 16rem;
}

.articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.articles article {
  padding: 1.5rem;
  border: #ecf1ef 2px solid;
  width: 16rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
  background-color: #2b3a55;
}

.articles article a{
 text-decoration: none;
}
.articles article p{
  margin-top: 0.3rem;
}
.articles article:hover {
  transform: translateY(-10px);
}

/* Contact */
.contact {
  text-align: center;
  margin: 3rem 0;
}

.contact h2 {
  font-weight: 500;
  color: rgba(0, 4, 10, 0.8);
  margin-bottom: 3rem;
}

/* Footer */
footer {
  background-color: #265F4D;
  text-align: center;
  padding: 2rem 0 1rem;
  color: #fff;
}

footer p {
  font-size: 1rem;
}

/* Social Icons */
.socials {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.socials i {
  font-size: 1.1rem;
  font-weight: 600;
  color: #f1f2f4;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #f6f7f9;
  height: 20px;
  width: 20px;
  padding: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  z-index: 1;
  margin-bottom: 1rem;
}

.socials i:hover {
  color: #2b3a55;
  border-color: #2b3a55;
  transform: scale(1.1) rotate(360deg);
}

/* Media Queries for Larger Screens */
@media (min-width: 480px) {
  .big-btn {
    font-size: 1.1rem;
    height: 50px;
    width: 250px;
    padding: 1rem 1rem 3rem;
  }

  .about-wrapper {
    margin: 10rem 0;
  }
}

@media (min-width: 768px) {
  header ul {
    display: flex;
    gap: 3rem;
    flex-direction: row;
    position: static;
    background: none;
    justify-content: flex-end;
    margin-right: 3rem;
  }

  header ul li a:hover {
    color: #379777;
  }
  .hamburger {
    display: none;
  }

  .hero-content h3 {
    font-size: 2rem;
  }

  .hero-content h1 {
    font-size: 4rem;
    letter-spacing: 5px;
  }

  .button-wrap {
    flex-direction: row;
  }

  #hero {
    margin-bottom: 10rem;
  }

  .about {
    padding: 0.5rem;
    margin: 3rem 2rem;
  }

  /* .projects .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  } */
}


@media (min-width: 992px) {
  .about {
    padding: 3.5rem;
     margin:0 auto;
     width: 75%;

   
   } 

   .projects .articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(2, 1fr);    /* 2 rows */
    gap: 2rem; 
    max-width: 75rem; 
    margin: auto; 
  }
  
  .articles article {
    padding: 1.5rem;
    border: #ecf1ef 2px solid;
    width: 22rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out; 
    transition: transform 0.3s ease; 
    background-color: #2b3a55;
    
  }
  
  .articles article:hover {
    transform: translateY(-10px);
  }
  .articles article img {
    align-items: center;
  }
  .articles article a {
    color:#f7f3f3;
    text-decoration: none;
  }
  
  .articles article p{
    margin-top: .2rem;
      margin-bottom: .3rem;
  }

}